<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href = "./style/style.css">
        <script src="./js/app.js"></script>
    </head>
    
    <body>
        {{>header}}
        <img src="./asset/linux.png">
        {{>footer}}
    </body>
</html>
